.my-pagination {
  display: flex;

  li:first-child>a {
    @apply rounded-s-lg;
  }

  li:last-child>a {
    @apply rounded-e-lg border-e;
  }

  li.selected>a {
    @apply bg-blue-50 text-blue-600 font-medium;
  }

  li:not(.selected)>a {
    @apply hover:bg-gray-100 text-gray-600;
  }

  li>a {
    @apply text-base select-none outline-none;
    @apply flex items-center px-4 h-10 ms-0 bg-white border border-e-0 border-gray-300;
  }
}